.todo-item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: auto;
  padding: 10px;
  border: 2px solid rgb(135, 110, 75);
  border-radius: 10px;
}

.todo-item-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.todo-item-checkbox {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  transition: 0.2s;
  padding-right: 20px;
}

.todo-item-title {
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-wrap: balance;
}

.todo-item-remove-btn {
  cursor: pointer;
  width: 45px;
  height: 45px;
  transition: 0.3s;
}

.todo-item-remove-btn:hover {
  transform: scale(0.95);
}

.todo-item-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media (max-width: 500px) {
  .todo-item {
    gap: 7px;
    width: 100%;
    height: auto;
    padding: 5px;
  }

  .todo-item-main {
    gap: 14px;
  }
  .todo-item-title {
    font-size: 15px;
    margin: 0;
    max-width: 80%;
  }

  .todo-item-remove-btn {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .todo-item-checkbox {
    width: 20px;
    height: 20px;
    padding: 0px;
  }

  .todo-item-remove-btn:hover {
    transform: none;
  }

  .todo-item-remove-btn:active {
    transform: scale(0.95);
  }
}
