.header {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: black;
  margin: 0;
  border-bottom: 2px solid rgb(135, 110, 75);
  box-shadow: 0 0 10px rgb(135, 110, 75);
}

.header-title {
  color: white;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  letter-spacing: 15px;
  padding: 20px 100px;
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .header {
    justify-content: center;
  }
  .header-title {
    font-size: 30px;
    letter-spacing: 12px;
    padding: 15px 80px;
  }
}

@media (max-width: 500px) {
  .header-title {
    font-size: 27px;
    padding: 15px 20px;
  }
}
